{% extends 'base.html' %}

{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'monolith/login.css' %}">
{% endblock %}
{% block content %}
<form method="post" class="form-signin">
    <h2>Login</h2>
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>

{% endblock %}